
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    
}

body{
    
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
background-color: rgb(34, 33, 33) /*7eb444*/;

}

.navmenu{
    display: flex;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
}
.navmenu li{
    list-style-type: none;
    margin: 10px 5px;
    padding: 15px 10px;
    margin-bottom: 30px;
    padding-top: 25px;
    
}
.navmenu a{
    text-decoration: none;
    color: aliceblue;
}

.logo{
    display: flex;
    position: relative;
    color: aqua;

    width: 0px auto;
    padding: 0px 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-weight: 250;
}

.logo img,a{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    overflow: visible;
}
.logo img{
    width: 40px;
    height: auto;
    border-radius: 55px;
}
.item{
    position: relative;
    flex-flow: row;
    left: 50px;
}
.toggle{
display: flex;
        
}
.item_buttom {
    
    position: relative;
    font-size: 18px;
    right: 30px;

}
.item_buttom a{
    color: aquamarine;
    text-decoration: none;
}
